body {
  padding: 0;
  margin: 0;
  font-family: "Myriad Pro", sans-serif;
}
a, a:hover, a:visited {
  color: white;
  font-size: 14pt;
  text-decoration: none;
  letter-spacing: 0.05em;
}
header {
  height: 880px;
  background-color: #441843;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}
header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  height: 110px;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  right: 10px;
  top: 10px;
}
header nav #menu {
  text-transform: uppercase;
  padding-right: 210px;

}
header nav #menu span {
  padding: 15px;
}
header nav > a {
  flex-grow: 2;
  padding-left: 210px;
}

#header-content {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: center;
}
#header-content div:nth-child(1) {
  font-size: 36pt;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
  color: #eadddb;
}
#header-content div:nth-child(2) {
  font-size: 100pt;
  font-family: "Myriad Pro", sans-serif;
  letter-spacing: 0.05em;

  padding-top: 20px;
}
#header-content div:nth-child(3) {
  padding-top: 40px;
}
#header-content div:nth-child(3) a {
  font-size: 18pt;
  font-family: "Myriad Pro", sans-serif;
  letter-spacing: 0.025em;

  border: 3px solid #fff;
  padding: 20px 85px;
}
#header-content div:nth-child(4) {
  font-size: 14pt;
  font-family: "Myriad Pro", sans-serif;
  letter-spacing: 0.05em;

  padding-top: 80px;
}
