body {
  padding: 0;
  margin: 0;
  font-family: "Myriad Pro", sans-serif;
}
a, a:hover, a:visited {
  color: white;
  font-size: 14pt;
  text-decoration: none;
  letter-spacing: 0.05em;
}
header {
  height: 880px;
  background-color: #441843;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  height: 110px;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  right: 10px;
  top: 10px;
}
header nav #menu {
  text-transform: uppercase;

}
header nav #menu span {
  padding: 15px;
}
header nav > a {
  flex-grow: 2;
}
